/* General styles */
body {
    /* font-family: Arial, sans-serif; */
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Dashboard style */
.dashboard-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.dashboard-container .mainview-container {
    height: 100%;
    background-color: rgb(219, 231, 234);
}

/* Project view style */
.project-table thead tr th {
    background-color: rgb(219, 231, 234);
}

.project-table tbody tr td {
    background-color: rgb(219, 231, 234);
    padding: 0.6em 0;
}

.project-table tbody tr td:hover {
    cursor: pointer;
}

.breadcrumb-item {
    font-size: 12px;
}

/* Realign style */
.company-logo {
    cursor: pointer;
}

/* Elicitation Editor style */
.white-box {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.white-box-content {
    height: 100%;
}

/* Upload file table content */
.file-table th,
.file-table td {
    background-color: rgb(219, 231, 234);
}
