.landing-navbar {
    margin-top: 15px;
}


.landing-navbar .nav-link {
    font-size: larger;
    text-decoration: underline;
    color:rgb(72, 143, 140);
    margin-right: 3rem;
}

.landing-navbar .nav-link:hover {
    color:gainsboro; 
}

.landing-navbar .btn-dark {
    font-size: large;
    margin-right: 2rem;
}

.main-logo {
    width: 850px; 
    margin-bottom: -1rem;

}

.feature-icon1 {
    width: 150px;
    height: auto;
    margin-bottom: 1.2rem;
}

.feature-icon2 {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.feature-icon3 {
    width: 200px;
    height: auto;
    margin-bottom: 1.1rem;
}

.text-center {
    width: 100%; 
    max-width: 1600px; 
    margin: auto; 
}

.text-center .lead {
    font-size: 2rem;
    font-weight:550;
    margin-bottom: 1.5rem;
    text-align: left;
}

.text-center .text-left1 {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: left;
}

.text-center .text-left2 {
    font-size: 1rem;
    margin-bottom: 4.5rem;
    text-align: left;
}
